@import "./Vars.scss";



body {
  margin: 0;
  font-family: $theme-font;
  background-image: linear-gradient($main-color,$main-color,#21c08b,  $main-color, $main-color);
}

* {
  box-sizing: border-box;
}

@import "./Media.scss";